.container{
  margin: 1em;
}

.option{
  color: hsl(212, 71%, 52%);
  border: 1px solid hsl(212, 71%, 52%);
  background: hsl(212, 71%, 82%);
  padding: 2em;
  font-size: 1em;
  border-radius: 10px;
  width: 100%;
}

.option:active{
  background:hsl(212, 71%, 52%);
  color: white;
}